<div>
  <mat-form-field [ngStyle]="{'padding-bottom': (recipientsControl.hasError('required')) && recipientsControl.touched ? '14px' : '0'}">
    <mat-label style="color: gray"><strong>Who do you want to recognize?</strong></mat-label>
    <mat-select [formControl]="recipientsControl" multiple>
      <mat-select-trigger>
        <mat-chip-list>
          <mat-chip *ngFor="let user of recipientsControl.value"
                    [removable]="true" (removed)="onRecipientRemoved(user)">
            {{ user.name }}
            <mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip>
        </mat-chip-list>
      </mat-select-trigger>
      <mat-option *ngFor="let user of users" [value]="user">{{user.name}}</mat-option>
    </mat-select>
    <mat-error *ngIf="recipientsControl.hasError('required')">
      Recipient is required
    </mat-error>
  </mat-form-field>
</div>

