<div class="container">
  <app-back-button></app-back-button>
  <div class="forms">
    <form (ngSubmit)="addMessage()">
      <div class="recipients">
        <img src="assets/person.png">
        <app-user-recipients></app-user-recipients>
      </div>
      <div>
        <p class="header-text-form">Select category:</p>
        <app-marios-chips [(mariosType)]="mariosType"></app-marios-chips>
      </div>
      <div class="title-input-container">
        <p class="header-text-form">Title:</p>
        <input type="text" placeholder="Enter marios title" class="title-input">
      </div>
      <div>
        <p class="header-text-form">Comment:</p>
        <textarea type="text" [(ngModel)]="message" name="message" class="comment-text"></textarea>
        <br>
        <button type="submit" class="send-button">SEND</button>
      </div>
    </form>
  </div>
</div>
