<p>add-marios works!</p>
<app-user-recipients></app-user-recipients>
<button (click)="onTypeClick('Thank You')">Thank You</button>
<button (click)="onTypeClick('Impressive')">Impressive</button>
<button (click)="onTypeClick('Exceptional')">Exceptional</button>
<button (click)="onTypeClick('Good job!')">Good Job</button>
<button (click)="onTypeClick('WOW!')">WOW!</button>
<button (click)="onTypeClick('I\'m Proud')">I'm Proud</button>
<input type="text" [(ngModel)]="message" placeholder="Add to message">
<button (click)="addMessage()">Add Message</button>
