.buttons  {
  display: grid;
  grid-template-columns: 1fr 1fr; /* This divides the grid into 2 equal parts */
  justify-content: center; /* This centers the grid horizontally */
  gap: 20px;
  margin: 0 auto;
  width: 1000px;
}

.button {
  height: 268px;
  width: 536px;
  background: url('/assets/statsbackground.png') no-repeat right center;
  background-color: white;
  background-size: 40%;
  background-position: right 20px center;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
