.back-button {
  background-color: #FFDF24;
  justify-content: center;
  border-style: solid;
  border-color: white;
  border-width: 3px;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 700;
  font-size: 23px;
  cursor: pointer;
  padding-bottom: 3px;
}

.back-div {
  width: 1090px;
  margin:0 auto 50px;
  text-align: left;
}
