.header {
  width: 1090px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  border-bottom: 4px solid white;
  margin: 0 auto 40px;
  position: relative;
}

.logout-btn {
  width: 80px;
  height: 30px;
  position: absolute;
  top: 10px;
  right: 0;
  border-width: 2px;
  border-style: solid;
  border-radius: 5px;
  background-color: #FCCF00;
  border-color: white;
  font-weight: 700;
  cursor: pointer;
}
