.container {
  display: flex;
  flex-direction: column;
  width: 1090px;
  margin: 0 auto;
}

.forms {
  width: 100%;
  margin-bottom: 50px;
  border-radius: 5px;
  box-shadow: 5px 5px 3px rgba(0,0,0,0.4);
  background-color: white;
}

form {
  background-color: white;
  width: 100%;
  padding: 10px 0;
  box-sizing: border-box;
  border: none;
  border-radius: 5px;
  height: 500px;
}

form div {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid #FCCF00;
}

form div:last-child {
  border-bottom: none;
}

.recipients {
  display: flex;
  width: auto;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}

.recipients img {
  height: 25px;
  margin-right: 10px;
}

.recipients app-user-recipients {
  flex-grow: 1;

}

.title-input {
  width: calc(100% - 28px);
  margin-left: 10px;
  margin-right: 10px;
  height: 25px;
  border-style: solid;
  border-color: lightgray;
  border-radius: 5px;
  font-family: "Open Sans"!important;
}

::-webkit-input-placeholder {
  font-weight: 700;
  color: lightgray;
}

.header-text-form {
  font-size: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.comment-text {
  height: 120px;
  width: calc(100% - 27px);
  border-radius: 5px;
  border-style: solid;
  border-color: lightgray;
  border-width: 2px;
  resize: none;
  padding: 3px 0 0 3px;
  margin-left: 10px;
  margin-right: 10px;
  font-family: "Open Sans";
}

.send-button {
  margin-top: 10px;
  margin-right: 10px;
  float: right;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #FFDF24;
  border-radius: 5px;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 15px;
  width: 10%;
  cursor: pointer;
}

.error-msg{
  padding-left: 10px;
  font-size: 10px;
  margin-bottom: 0;
  display: inline-block;
}
