<div class="container">
  <div class="buttons">
    <button (click)="onReceivedMariosClick()" class="button">
      <span class="text">RECEIVED<br> MARIOS:</span>
      <span class="count">{{receivedCount}}</span>
    </button>
    <button (click)="onSentMariosClick()" class="button">
      <span class="text">SENT<br>MARIOS:</span>
      <span class="count">{{sentCount}}</span>
    </button>
  </div>
  <div class="add-div">
    <button (click)="onAddMariosClick()" class="add-button">ADD MARIOS &#10132;</button>
  </div>
  <div>
    <p class="last-text">LAST MARIOS:</p>
  </div>
  <app-marios-list [marioses]="marioses"></app-marios-list>
</div>
