/* You can add global styles to this file, and also import other style files */
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background: linear-gradient(180deg, #E74850 10%, #236FE9 25%, #4286F4 50%) no-repeat fixed;
  margin: 0;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #000;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
