/* You can add global styles to this file, and also import other style files */
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background: linear-gradient(180deg, #d71a24 10%, #2361c5 25%, #4286F4 50%) no-repeat fixed;
  margin: 0;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #000;
}
